.customerHomepage .design{
    background: #DE7229;
    /* background-color: white; */
    margin: 80px 80px 0px 80px;
    border-radius: 30px 0px 0px 0px; 
    padding: 100px;
}
.customerHomepage .banner{
    /* background-color: red; */
    background-color: white;
    margin: 0px 80px 0px 80px;
    border-radius: 0px 0px 30px 30px;
    padding: 50px;
}

.customerHomepage .banner .greeting{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.customerHomepage .banner .border{
    border-width:3px !important;
}

.customerHomepage .banner .clock{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.customerHomepage .section1 {
    /* background-color: white; */
    margin: 0px 80px 0px 80px;
    /* border-radius: 0px 0px 15px 15px; */
    /* padding: 50px; */
}

.customerHomepage .section1 .header{
    padding: 30px 30px 10px 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 60px;
}

.customerHomepage .section1 .vetClinics{
    padding: 20px 30px 30px 30px;
}

.customerHomepage .section1 .vetClinics .card {
    border-radius: 10px;
}

.customerHomepage .section1 .vetClinics .card .cardTitle{
    margin: 250px 10px 10px 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.customerHomepage .section2 {
    /* background-color: white; */
    margin: 0px 80px 0px 80px;
    /* border-radius: 0px 0px 15px 15px; */
    /* padding: 50px; */
}

.customerHomepage .section2 .header{
    padding: 30px 30px 10px 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 60px;
}

.customerHomepage .section2 .vetClinics{
    padding: 20px 30px 30px 30px;
}
.customerHomepage .section2 .card {
    
    padding-top: 240px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #3E322A !important;
}
.customerHomepage .section2 .card .cardBody{
    margin: 0;
    padding-top: 50px;
    background: linear-gradient(180deg, rgba(71, 71, 71, 0) 0%, #281D16 90%) !important;
    border-radius: 0px 0px 8px 8px;

}

.customerHomepage .section2 .card .cardBody .cardTitle{
    margin: 10px 10px 0px 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}
.customerHomepage .section2 .card .cardBody .spacing{
    margin: 0px 10px 10px 10px;
}