.profileSeller .design{
    background: #DE7229;
    /* background-color: white; */
    margin: 80px 80px 0px 80px;
    border-radius: 30px 0px 0px 0px; 
    padding: 100px;
}
.profileSeller .banner{
    /* background-color: red; */
    background-color: white;
    margin: 0px 80px 0px 80px;
    /* border-radius: 15px; */
    padding: 50px;
}

.profileSeller .banner .greeting{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.profileSeller .banner .border{
    border-width:3px !important;
}

.profileSeller .banner .clock{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.profileSeller .section1 {
    background-color: white;
    margin: 0px 80px 0px 80px;
    /* border-radius: 0px 0px 15px 15px; */
    /* padding: 50px; */
}

.profileSeller .section1 .header{
    padding: 30px 30px 10px 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 60px;
}

.profileSeller .section1 {
    background-color: white;
    margin: 0px 80px 0px 80px;
    /* border-radius: 0px 0px 15px 15px; */
    /* padding: 50px; */
}

.profileSeller .section1 .header{
    padding: 30px 30px 10px 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 60px;
}
.profileSeller .section1 .userInformation{
    padding: 20px 30px 30px 30px;
}

.profileSeller .section2 {
    background-color: white;
    margin: 0px 80px 80px 80px;
    border-radius: 0px 0px 15px 15px;
    /* padding: 50px; */
}
.profileSeller .section2 .header{
    padding: 30px 30px 10px 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 60px;
}
.profileSeller .section2 .spacing{
    padding-left: 30px;
    color: red;
}


.profileSeller .section2 .addressInformation{
    padding: 20px 30px 50px 30px;
    
}
