.reviewPage .banner{
    /* background-color: red; */
    margin: 80px 80px 0px 80px;
}

.reviewPage .banner .greeting{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    color: #3E322A;

}

.reviewPage .banner .content{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #3E322A;
}
.reviewPage .banner .notbold{
    font-weight: normal;
}

.reviewPage .section1 {
    margin: 80px 80px 0px 80px;
}

.reviewPage .section1 .header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    color: #3E322A;

    margin-bottom: 60px;
    
}

.reviewPage .section1 .btn{
    background-color: #DE7229; color: white;
    border: 1px solid #DE7229 !important;
}